<header class="row row--main_content">
    <div class="column">
        
        <h1 class="contact-title">
            Entre em contato       </h1>

    </div>
</header>

<main class="row align-justify row--main_content contact-main">
    <div class="column large-8 small-12">

    <div class="contact-cms">
        <div class="wpforms-container " id="wpforms-417"><form method="post" enctype="multipart/form-data" id="wpforms-form-417" action="/contact/#wpforms-417" class="wpforms-validate wpforms-form" data-formid="417"><div class="wpforms-field-container"><div class="wpforms-field wpforms-field-select" id="wpforms-417-field_3-container" data-field-id="3" style=""><label for="wpforms-417-field_3" class="wpforms-field-label">Como podemos ajudá-lo? <span class="wpforms-required-label">*</span></label><select name="wpforms[fields][3]" id="wpforms-417-field_3" class="wpforms-field-large wpforms-field-required"  required ><option value=""  selected='selected'>Por favor selecione uma opção...</option><option value="Demo request" >Solicite uma demo</option><option value="Sales inquiry" >Perguntas de vendas</option><option value="Product question" >Pergunta sobre o produto</option><option value="Wellpass program inquiry" >Pergunta sobre nossos programas</option><option value="General inquiry" >Pergunta geral</option></select></div><div class="wpforms-field wpforms-field-text medium-6" id="wpforms-417-field_4-container" data-field-id="4" style=""><label for="wpforms-417-field_4" class="wpforms-field-label">Nome <span class="wpforms-required-label">*</span></label><input type="text" name="wpforms[fields][4]" id="wpforms-417-field_4" class="wpforms-field-medium wpforms-field-required" value="" placeholder=""  required ></div><div class="wpforms-field wpforms-field-email medium-6" id="wpforms-417-field_1-container" data-field-id="1" style=""><label for="wpforms-417-field_1" class="wpforms-field-label">E-mail <span class="wpforms-required-label">*</span></label><input type="email" name="wpforms[fields][1]" id="wpforms-417-field_1" class="wpforms-field-medium wpforms-field-required" value="" placeholder=""  required ></div><div class="wpforms-field wpforms-field-textarea" id="wpforms-417-field_2-container" data-field-id="2" style=""><label for="wpforms-417-field_2" class="wpforms-field-label">Mensagem <span class="wpforms-required-label">*</span></label><textarea name="wpforms[fields][2]" id="wpforms-417-field_2" class="wpforms-field-large wpforms-field-required" placeholder=""  required ></textarea></div></div><div class="wpforms-field wpforms-field-hp" id="wpform-field-hp"><label for="wpforms-field_hp" class="wpforms-field-label">Phone</label><input type="text" name="wpforms[hp]" id="wpforms-field_hp" class="wpforms-field-medium"></div><div class="wpforms-submit-container" ><input type="hidden" name="wpforms[id]" value="417"><input type="hidden" name="wpforms[author]" value="6"><button type="submit" name="wpforms[submit]" class="wpforms-submit button" id="wpforms-submit-417" value="wpforms-submit" data-alt-text="Sending...">Enviar</button></div></form></div>
<p><strong>ENVIE UM EMAIL PARA <a href="mailto:CONTATO@TA-NA-HORA.COM">CONTATO@TA-NA-HORA.COM</a>.</strong></p>
<p>&nbsp;</p>
    </div>

    </div>

    <div class="column large-3 small-12 contact-address">

        <div class="row">
            <div class="columns large-12 medium-6 small-12">
                <article class="contact-address-cms">
                    
                    <h1>Matriz Rio Negrinho</h1>
<p>R. Pedro Simões de Oliveira, 462 - sl. 03 - Centro, Rio Negrinho/SC - 89.295-000.</p>


                </article>
            </div>

            <div class="columns large-12 medium-6 small-12">
                <article class="contact-address-cms">
                    
                    <h1>Filial São Paulo</h1>
<p>R. Cláudio Soares, 72 - conj. 1609 - Pinheiros, São Paulo/SP - 05422-030 <br/></p>
<p>Telefone: +55 47 3644-8350<br />
Alt. : + 55 11 3807-87371</p>

                </article>
            </div>
        </div>    

    </div>
</main>