
<section class="banner banner--content_on_right banner--bottom_border banner--custom_color">

   <%= image_tag("optstock4.jpg", width:"100%",  alt: "picture of crowd") %>
<!--     <img width="1025" height="352" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 1025w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 768w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 1024w" sizes="(max-width: 1025px) 100vw, 1025px" /> -->

   
    
</section>

<div class="row align-middle row--main_content">
        
        <div class="column  small-12">

            
            <div class="page-section-cms ">
                <h4 class="p1" style="text-align: center;"><span class="s1">Com a consciência de que a maior parte dos problemas na área da saúde são gerados por falta de informação e repetição de maus hábitos, a Tá.Na.Hora foi criada para prevenir doenças, combater epidemias, promover qualidade de vida e facilitar o acesso a informações sobre à saúde unindo tecnologia e inteligência artificial para realizar conversas interativas, engajar e induzir mudanças de comportamento via SMS e outras plataformas digitais.

                </span></h4></div></div></div>


    <div class="row row--main_content">
        <div class="column">
<section class="team-header">
            <div class="team-header-cms">
                <p class="p1"><span style="font-weight: 350; font-size: 16px;">A Tá.Na.Hora acumulou muita experiência ao longo de três anos de trajetória. Trabalhamos com médicos renomados, como o Dr. Alexandre, médico epidemologista formado em Yale. Fomos premiados pela Fundação Bill e Melinda Gates com o Programa do SMS Bebê. Toda nossa trajetória permitiu desenvolver diversos programas com excelência e com abordagem certa para cada público. 
              
              <br><br>Programas para pacientes crônicos (Ex: diabéticos, hipertensos), Pós-operatórios, Bem-estar (alimentação saudável prática de exercícios, etc), oncologia, para gestantes e primeira infância, controle epidemológico e várias outras especialidades.Cada programa teve uma curva de aprendizagem grande para descobrir características de cada grupo de pacientes e proporcionar o desfechoh clínico mais favorável wxperiência na comunicação e no diálogo com cada grupo de pacientes.
              </span></p>
            </div>

           

 </span></p>
            </div>

        </div>
    </div>

</section>

