
<section class="banner banner--content_on_right banner--bottom_border banner--custom_color">

   <%= image_tag("optstock4.jpg", width:"100%",  alt: "picture of crowd") %>
<!--     <img width="1025" height="352" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 1025w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 768w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_4.jpg 1024w" sizes="(max-width: 1025px) 100vw, 1025px" /> -->

   
    
</section>

<div class="row align-middle row--main_content">
        
        <div class="column  small-12">

            
            <div class="page-section-cms ">
                <h4 class="p1" style="text-align: center;"><span class="s1">A Tá.Na.Hora é uma startup de saúde que está usando chatbots e inteligência artificial para revolucionar a saúde no Brasil. Nossa missão é educar, engajar e monitorar pacientes e populações em situações de risco através de mensagens de texto em dispositivos móveis para inovar na gestão de saúde populacional em países emergentes

            <br><br>
               <iframe width="854" height="480" src="https://www.youtube.com/embed/BGalGKe1nfI" frameborder="0" allowfullscreen></iframe>
                </span></h4>
                </div>
                </div>
                


    
                <p class="p1"><span style="font-weight: 350; font-size: 16px;">Com tecnologia de ponta, vamos democratizar o acesso à saúde. A Tá.Na.Hora está construindo a ponte entre o mundo digital e os cuidados à saúde para engajar pessoas e conectar nossos clientes com a população de quem cuidam. Nosso chatbot é o amigo virtual de cuidadores e pacientes que vai transformar a gestão de saúde populacional. Seja combatendo o surto epidemias de dengue ou zika vírus, seja no atendimento a pacientes diabéticos ou hipertensos, é possível criar o tratamento humano e personalizado.
            </div>
            </div>
              </div>
              <br><br>
              </span></p>
            </div>

           

 </span></p>
            </div>

        </div>
    </div>

</section>

