     <body class="home page-template page-template-page-home page-template-page-home-php page page-id-2 page-parent">


<section class="banner banner--content_on_left banner--bottom_border banner--custom_color">
    
    <img width="1025" height="500" src="http://ta-na-hora.com/wp-content/uploads/2016/06/banner1_tnh_site.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg sizes="(max-width: 1025px) 100vw, 1025px" />
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:400px;margin-top:-18%;color:#ffffff;">

                        <h1>Gestão de saúde populacional via dispositivo móvel <br />
</h1>

                                             

                        
                    </div>
                </div>
            </div>
        </div>

    
</section>





<section class="page-section ">

    
    <div class="row align-middle row--main_content">
        
        <div class="column  small-12">

            
            <div class="page-section-cms ">
                <h1 style="text-align: center;"><strong>A TÁ.NA.HORA é uma startup que usa chatbots e intelgência artificial para revolucionar a saúde no brasil.</strong></h1>
<p>&nbsp;</p>
<p style="text-align: center;">Independentemente de estar monitorando mães de baixa renda no sul do Brasil, tratando questões ligadas a diabetes no Rio de Janeiro ou controlando surtos de dengue na Amazônia, a Tá-Na-Hora busca o uso de dispositivos móveis para combater os maiores problemas de saúde em países emergentes.</p>
<p style="text-align: center;"><a href="/visao_geral">SAIBA MAIS</a></p>

        
    </div>

</section>
<section class="banner banner--content_on_right banner--custom_color">
    <section class="baby">
   <!--  <img width="1017" height="377" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 1017w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 768w" sizes="(max-width: 1017px) 100vw, 1017px" /> -->
   <%= image_tag("optstock5.jpg", width:"100%",  alt: "picture of crowd") %>
    </section>
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:300px;margin-top:-35%;color:#ffffff; ">

                        <br>
                        <br><br><br>
                        <h4 style="text-align: right;"><strong><font size="6">Ajudando novas e futuras mães…tudo via mensagem</font></strong></h4>
                        


                        
                    </div>
                </div>
            </div>
        </div>

    
</section>





    <span class="section-content-scrollpoint"><span id="customers"></span></span>


<section class="section-content">

    <div class="row row--main_content">
        <div class="column">
            
            <div class="section-content-cms">
                <h2 style="text-align: center;">Segmentos</h2>
            </div>
        </div>

    </div>

</section>


    <section class="orbit" role="region" data-orbit data-auto-play="false" data-box-of-bullets="orbit-nav">
    
        <nav class="orbit-nav">
            <div class="row collapse align-justify row--main_content">

                <div class="column">
    <button data-slide="0" class="is-active">
        Empresas    </button>
</div><div class="column">
    <button data-slide="1" class="">
        Setor Público    </button>
</div><div class="column">
    <button data-slide="2" class="">
        Operadoras de Saúde    </button>
</div><div class="column">
    <button data-slide="3" class="">
        Indústria Farmacêutica    </button>
</div>
            </div>
        </nav>

        <ul class="orbit-container">

            
<li class="orbit-slide is-active">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Empresas</h1>
<p>Criamos um programa de Bem-Estar digital para colaboradores focando em alimentação saudável, exercícios físicos, anti-tabagismo e saúde mental. Através de nossos chatbos via SMS e Facebook Messenger alinhamos`os programas tanto à estratégia dos departamento de RH quanto à realidade da empresa. Nós acompanhamos todo o programa para mensurar os resultados frente aos objetivos almejados.</p>



<p><a href="/contato">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--center orbit-img--on_top" style="">
                    <img width="447" height="317" src="https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg" class="attachment-full size-full" alt="" srcset="https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg 447w, https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg 300w" sizes="(max-width: 447px) 100vw, 447px" />                </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Setor Público</h1>
<p><span style="font-weight: 400;">Através do uso da tecnologia em dispositivos móveis pretendemos atuar em conjunto com entes públicos na resolução de problemas de saúde pública. A Tá.Na.hora por meio de SMS e do Facebook envia mensagens para pessoas com o objetivo de engajar, educar e monitorar populações para reduzir os custos do sistema público de saúde. Nosso programa de controle epidemológico para o vírus da dengue e zika são bastante conhecidos atualmente, não só pelo poder de informar as pessoas como monitorar sintomas.<br />
<em>  </em></span></p>

<p><a href="/contato">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="289" src="http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg 300w" sizes="(max-width: 493px) 100vw, 493px" />                </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Operadoras de Saúde</h1>
<p><span style="font-weight: 400;">A Tá.Na.Hora está usando chatbots via SMS e Facebook Messenger para reduzir o número de situações adversas e mitigar problemas em situações de risco. Nosso objetivo é engajar pacientes aonde as pessoas já estão usando a maior parte do tempo, de modo interativo e pessoal. Com isso, vamos ser capazes de reduzir significativamente os custos com saúde a partir do monitoramento de pacientes e alertas para equipes médicas em casos de emergência.   </span></p>
<p><a href="/contato">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="575" src="http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg 340w" sizes="(max-width: 493px) 100vw, 493px" />                </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>
Indústria Farmacêutica</h1>
<p><span style="font-weight: 400;">Focando na atuação com chatbots via SMS e Facebook Messenger melhoramos a adesão de pacientes a tratamentos medicamentosos e acessibilidade a saúde. Temos experiência em diversas áreas: cardiologia, pacientes crônicos, pós-alta hospitalar, vacinação, entre outros. Sendo que, nossa expertise consiste em desenvolver abordagens digitais de saúde para a realidade social de mercados emergentes.</span></p>
<div>


<p><a href="/contato">Entre em contato conosco</a></p>
</div>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="289" src="http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg 340w" sizes="(max-width: 493px) 100vw, 493px" />                </div>
            </div>
        
    </article>
</li>
        </ul>

    </section>



        <script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/jquery.min.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/foundation.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/app.min.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-includes/js/wp-embed.min.js?ver=4.8'></script>
    </body>