     <body class="home page-template page-template-page-home page-template-page-home-php page page-id-2 page-parent">

    <!-- header -->

        <header class="page-header bigger" id="pageHeader">
            <div class="row row--main_content">
                <div class="column">
                    <h1 class="page-header-logo">
                        <a href="https://www.wellpass.com">
                            <img src="http://ta-na-hora.com/wp-content/themes/tanahora/img/ta-na-hora-logo.jpg" alt="Wellpass" width="91">
                        </a>
                    </h1>

                    <nav class="page-header-nav">
                        <ul><li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-515"><a href="#">About</a><span></span>
<ul  class="sub-menu">
    <li id="menu-item-1602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1602"><a href="https://www.wellpass.com/company/">Company</a><span></span></li>
    <li id="menu-item-1601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a href="https://www.wellpass.com/media/">Press</a><span></span></li>
    <li id="menu-item-1600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1600"><a href="https://www.wellpass.com/careers/">Careers</a><span></span></li>
    <li id="menu-item-1599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1599"><a href="https://www.wellpass.com/contact/">Contact Us</a><span></span></li>
</ul>
</li>
<li id="menu-item-751" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-751"><a href="#">Platform</a><span></span>
<ul  class="sub-menu">
    <li id="menu-item-1595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1595"><a href="https://www.wellpass.com/platform/">Overview</a><span></span></li>
    <li id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594"><a href="https://www.wellpass.com/health-programs/">Health Programs</a><span></span></li>
    <li id="menu-item-1598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1598"><a href="https://www.wellpass.com/outcomes/">Outcomes</a><span></span></li>
</ul>
</li>
<li id="menu-item-1596" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1596"><a href="/#customers">Customers</a><span></span></li>
<li id="menu-item-1593" class="page-header-nav-button menu-item menu-item-type-post_type menu-item-object-page menu-item-1593"><a href="https://www.wellpass.com/contact/">Request A Demo</a><span></span></li>
<li id="menu-item-336" class="page-header-nav-button--alt menu-item menu-item-type-custom menu-item-object-custom menu-item-336"><a href="https://portal.wellpass.com/?sign-in=1">Sign In</a><span></span></li>
</ul>                    </nav>
                    <a data-open="mobileMenu" class="mobilemenu-trigger icon-menu">
                        <span>Menu</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="page-header--extraspace"></div>

        <div class="reveal reveal--mobilemenu" id="mobileMenu" data-reveal>
            <div class="row collapse row--main_content">
                <div class="column">
                    <div class="mobilemenu-wrap">

                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span class="icon-x" aria-hidden="true"></span>
                        </button>
                    
                        <nav class="mobilemenu">
                            <ul>
                                <li>
                                    <a href="/" class="is_active">Home</a>
                                </li>
                            </ul>

                            <ul><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-515"><a href="#">About</a><span></span>
<ul  class="sub-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1602"><a href="https://www.wellpass.com/company/">Company</a><span></span></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a href="https://www.wellpass.com/media/">Press</a><span></span></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1600"><a href="https://www.wellpass.com/careers/">Careers</a><span></span></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1599"><a href="https://www.wellpass.com/contact/">Contact Us</a><span></span></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-751"><a href="#">Platform</a><span></span>
<ul  class="sub-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1595"><a href="https://www.wellpass.com/platform/">Overview</a><span></span></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594"><a href="https://www.wellpass.com/health-programs/">Health Programs</a><span></span></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1598"><a href="https://www.wellpass.com/outcomes/">Outcomes</a><span></span></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1596"><a href="/#customers">Customers</a><span></span></li>
<li class="page-header-nav-button menu-item menu-item-type-post_type menu-item-object-page menu-item-1593"><a href="https://www.wellpass.com/contact/">Request A Demo</a><span></span></li>
<li class="page-header-nav-button--alt menu-item menu-item-type-custom menu-item-object-custom menu-item-336"><a href="https://portal.wellpass.com/?sign-in=1">Sign In</a><span></span></li>
</ul>                        </nav>

                    </div>
                </div>
            </div>
        </div>

    <!-- / header -->
<section class="banner banner--content_on_left banner--bottom_border banner--custom_color">
    
    <img width="1025" height="500" src="http://ta-na-hora.com/wp-content/uploads/2016/06/banner1_tnh_site.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg sizes="(max-width: 1025px) 100vw, 1025px" />
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:400px;margin-top:-18%;color:#ffffff;">

                        <h1>Gestão de saúde populacional via dispositivo móvel <br />
</h1>

                                                    <div class="banner-content-cms-btnwrap">
                                <a data-open="bannerYoutubeModal135" class="button">
                                    <i class="icon icon-play_circle"></i>
                                    Watch the Video
                                </a>
                            </div>

                        
                    </div>
                </div>
            </div>
        </div>

    
</section>


    <div class="reveal reveal--youtube" id="bannerYoutubeModal135" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span class="icon-x" aria-hidden="true"></span>
        </button>

        <div class="reveal-youtube-wrap">
            <iframe width="560" height="315" src="" data-src="https://www.youtube.com/embed/_iTH0bHkrx8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>


<section class="page-section ">

    
    <div class="row align-middle row--main_content">
        
        <div class="column  small-12">

            
            <div class="page-section-cms ">
                <h1 style="text-align: center;"><strong>Através de ChatBots de saúde a Tá.Na.Hora cria uma solução digital para ajudar as organizações engajar, educar e monitorar uma grande população de pacientes.</strong></h1>
<p>&nbsp;</p>
<p style="text-align: center;">Independentemente de estar monitorando mães de baixa renda no sul do Brasil, tratando questões ligadas a diabetes no Rio de Janeiro ou controlando surtos de dengue na Amazônia, a Tá-Na-Hora busca o uso de dispositivos móveis para combater os maiores problemas de saúde em países emergentes.</p>
<p style="text-align: center;"><a href="https://www.wellpass.com/platform/">Learn more</a></p>
<p>&nbsp;</p>
<p style="text-align: center;"><img class="alignnone wp-image-1951 size-full" src="https://www.wellpass.com/wp-content/uploads/2017/03/home_phone-4.png" alt="" width="885" height="461" srcset="https://www.wellpass.com/wp-content/uploads/2017/03/home_phone-4.png 885w, https://www.wellpass.com/wp-content/uploads/2017/03/home_phone-4-300x156.png 300w, https://www.wellpass.com/wp-content/uploads/2017/03/home_phone-4-768x400.png 768w" sizes="(max-width: 885px) 100vw, 885px" /></p>
            </div>
        </div>

        
    </div>

</section>
<section class="banner banner--content_on_right banner--custom_color">
    
    <img width="1017" height="377" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 1017w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 768w" sizes="(max-width: 1017px) 100vw, 1017px" />
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:300px;margin-top:-20%;color:#ffffff; ">


                        <h4 style="text-align: center;"><strong><font size="6">Ajudando novas e futuras mães…tudo via mensagem</font></strong></h4>
<h1 style="text-align: center;"><strong></strong></h1>
<h4 style="text-align: center;"><strong></strong></h4>

                        
                    </div>
                </div>
            </div>
        </div>

    
</section>



<section class="section-content section-content--gray">

    <div class="row row--main_content">
        <div class="column">
            
            <div class="section-content-cms">
                <h1 style="text-align: center;">Our approach leads to better results.</h1>
<h4 style="text-align: center;"><a href="https://www.wellpass.com/outcomes/">View all of our outcomes</a></h4>
            </div>

        </div>

    </div>

</section>


<section class="section-iconlist section-content--gray section-iconlist--big">

    <ul class="row iconlist row--main_content">

        
<li class="column large-4 medium-12 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-no_smoking"></i>

        <div class="iconlist-article-cms">
            <h2>2X</h2>
<p>increase in maintenance<br />
of <strong>smoking cessation</strong></p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-12 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-diabetes_circle"></i>

        <div class="iconlist-article-cms">
            <h2>96%</h2>
<p>of participants would<br />
<strong>recommend Care4life</strong></p>
<p><strong> </strong></p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-12 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-natal_circle"></i>

        <div class="iconlist-article-cms">
            <h2>2x</h2>
<p>Increased <strong>flu<br />
vaccination</strong></p>
        </div>
        
    </article>

</li>

    </ul>

</section>

    <span class="section-content-scrollpoint"><span id="customers"></span></span>


<section class="section-content">

    <div class="row row--main_content">
        <div class="column">
            
            <div class="section-content-cms">
                <h2 style="text-align: center;">Segmentos</h2>
            </div>
        </div>

    </div>

</section>


    <section class="orbit" role="region" data-orbit data-auto-play="false" data-box-of-bullets="orbit-nav">
    
        <nav class="orbit-nav">
            <div class="row collapse align-justify row--main_content">

                <div class="column">
    <button data-slide="0" class="is-active">
        Empresas    </button>
</div><div class="column">
    <button data-slide="1" class="">
        Setor Público    </button>
</div><div class="column">
    <button data-slide="2" class="">
        Operadoras de Saúde    </button>
</div><div class="column">
    <button data-slide="3" class="">
        Indústria Farmacêutica    </button>
</div>
            </div>
        </nav>

        <ul class="orbit-container">

            
<li class="orbit-slide is-active">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Empresas</h1>
<p>Somos especialistas na criação de programas de saúde e bem-estar via celular. Com conteúdos digitais e engajantes que oferecem incentivos de participação, conseguimos  atingir todos os tipos de colaboradores sem a necessidade de muitos recursos, com baixo custo. Oferecemos soluções personalizadas de acordo necessidades específicas, levando em consideração os perfis dos colaboradores. Durante todo o processo de implementação iremos apoiar o seu departamento de recursos humanos com análises de risco de saúde, endomarketing e análises de resultados.</p>



<p><a href="/contact">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--center orbit-img--on_top" style="">
                    <img width="447" height="317" src="https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg" class="attachment-full size-full" alt="" srcset="https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg 447w, https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg 300w" sizes="(max-width: 447px) 100vw, 447px" />                </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Setor Público</h1>
<p><span style="font-weight: 400;">Por meio da tecnologia mobile, ajudamos na implementação de análises de patologias e riscos e no monitoramento contínuo. Fazemos uma medicina preventiva com alto nível de aceitação entre os usuários, com foco principal em gestão de crônicos e gestantes.  Nossa solução é aplicável mesmo em situações em que não existem dados cadastrais e bases de informações sobre os pacientes. Para otimizar e reduzir custos operacionais integramos nosso sistema com estruturas de medicina preventiva já existentes em sua operadora de saúde, como atendimento via call center e presencial.<br />
<em>  </em></span></p>

<p><a href="/contact">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="289" src="http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg 300w" sizes="(max-width: 493px) 100vw, 493px" />                </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Operadoras de Saúde</h1>
<p><span style="font-weight: 400;">Por meio da tecnologia mobile, ajudamos na implementação de análises de patologias e riscos e no monitoramento contínuo. Fazemos uma medicina preventiva com alto nível de aceitação entre os usuários, com foco principal em gestão de crônicos e gestantes.  Nossa solução é aplicável mesmo em situações em que não existem dados cadastrais e bases de informações sobre os pacientes. Para otimizar e reduzir custos operacionais integramos nosso sistema com estruturas de medicina preventiva já existentes em sua operadora de saúde, como atendimento via call center e presencial. </span></p>
<p><a href="/contact">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="575" src="http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg 340w" sizes="(max-width: 493px) 100vw, 493px" />                </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>
Indústria Farmacêutica</h1>
<p><span style="font-weight: 400;">Desenvolvemos programas de comunicação digital focados em adesão ao tratamento. Usamos nossa plataforma com a indústria farmacêutica para criar réguas de relacionamento personalizadas de acordo com necessidades específicas. Para garantir um maior valor e diferenciar o seu produto, geramos um conteúdo multimídia de acordo com os perfis comportamentais da sua base. Integramos nossas soluções aos programas de apoio à pacientes já existentes com facilidade, inclusive programas de descontos à medicamentos, serviços de call center. Também criamos um canal de comunicação direta com médicos.</span></p>
<div>


<p><a href="/contact">Entre em contato conosco</a></p>
</div>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="289" src="http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg 340w" sizes="(max-width: 493px) 100vw, 493px" />                </div>
            </div>
        
    </article>
</li>
        </ul>

    </section>

        <footer class="page-footer">
            
            <div class="page-footer-bar1">
                
                <div class="row row--main_content">
                    <div class="columns large-6 medium-12 small-12">
                        
                        <div class="page-footer-cms">
                            <h1>Vamos trabalhar juntos<br />
</h1>
<p><a class="button" href="/contact/">GET IN TOUCH</a></p>
                        </div>
                    </div>

                    <nav class="columns large-6 medium-12 small-12">
                        <ul class="page-footer-nav row"><li id="menu-item-748" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-748"><div class="link_wrap"><a href="#">About</a><span></span></div>
<ul  class="sub-menu">
    <li id="menu-item-1580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1580"><div class="link_wrap"><a href="https://www.wellpass.com/company/">Company</a><span></span></div></li>
    <li id="menu-item-1581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1581"><div class="link_wrap"><a href="https://www.wellpass.com/media/">Press</a><span></span></div></li>
    <li id="menu-item-1582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1582"><div class="link_wrap"><a href="https://www.wellpass.com/careers/">Careers</a><span></span></div></li>
    <li id="menu-item-1583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1583"><div class="link_wrap"><a href="https://www.wellpass.com/contact/">Contact Us</a><span></span></div></li>
</ul>
</li>
<li id="menu-item-193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193"><div class="link_wrap"><a href="#">Platform</a><span></span></div>
<ul  class="sub-menu">
    <li id="menu-item-1584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1584"><div class="link_wrap"><a href="https://www.wellpass.com/platform/">Overview</a><span></span></div></li>
    <li id="menu-item-1585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1585"><div class="link_wrap"><a href="https://www.wellpass.com/health-programs/">Health Programs</a><span></span></div></li>
    <li id="menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587"><div class="link_wrap"><a href="https://www.wellpass.com/outcomes/">Outcomes</a><span></span></div></li>
</ul>
</li>
</ul>                    </nav>

                </div>

            </div>
            
            <div class="page-footer-bar2">
                <div class="row row--main_content">
                    <div class="column">

                        <nav class="page-footer-social_media">
                            <ul><li id="menu-item-314" class="menu-item--twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-314"><a href="http://www.twitter.com/wellpass"><i class="icon icon-placeholder"></i><span class="link_text">Twitter</span></a></li>
<li id="menu-item-313" class="menu-item--linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-313"><a href="http://www.linkedin.com/company/wellpass"><i class="icon icon-placeholder"></i><span class="link_text">linkedin</span></a></li>
</ul>                        </nav>

                    </div>
                </div>
            </div>

            <div class="page-footer-bar3">

                <div class="row row--main_content">
                    <div class="column">

                        <ul><li id="menu-item-1591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1591"><a href="https://www.wellpass.com/terms/">Terms</a></li>
<li id="menu-item-1592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1592"><a href="https://www.wellpass.com/privacy-policy/">Privacy Policy</a></li>
</ul>
                        <p class="page-footer-copyright">
                             All rights reserved © 2017 Wellpass, Inc.  
                        </p>

                    </div>
                </div>
                
            </div>

        </footer>

        <script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/jquery.min.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/foundation.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/app.min.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-includes/js/wp-embed.min.js?ver=4.8'></script>
    </body>