
    <!-- / header -->
<section class="banner banner--content_on_left banner--bottom_border banner--custom_color">

    <%= image_tag("stock2.jpg", width:"100%",  alt: "slick photo of phone usage") %>
    <!-- <img width="1025" height="500" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_2.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_2.jpg 1025w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_2.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_2.jpg 768w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_2.jpg 1024w" sizes="(max-width: 1025px) 100vw, 1025px" /> -->
    
 


        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:400px;margin-top:-18%;color:#ffffff;">

                        <h1>Poderosa plataforma 
para engajamento de pacientes</h1>



<script type="text/javascript">
    
$(document).ready(function(){

    $('#bannerYoutubeModal135').click(function (){
      $('.reveal--youtube').show();
    });

    $('#bannerYoutubeModal135').click(function (){
      $('.reveal-overlay').show();
    });

    $('.reveal-overlay').click(function (){
      $('.reveal-overlay').hide();
    });
});
</script>

    <div class="banner-content-cms-btnwrap">
            <a id="bannerYoutubeModal135" class="button" aria-controls="bannerYoutubeModal135" aria-haspopup="true" tabindex="0">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    Assista o vídeo
                                </a>
                            </div>

                        
                    </div>
                </div>
            </div>
        </div>

    
</section>



<div class="reveal-overlay" >

        <button class="close-button" data-close="" aria-label="Close modal" type="button">
            <span class="icon-x" aria-hidden="true"></span>
        </button>

    <div class="reveal reveal--youtube" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span class="fa fa-times" style='font-size: 20px;' aria-hidden="true"></span>
        </button>



        <div class="reveal-youtube-wrap">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/9dbYYVJ8ZNU" frameborder="0" allowfullscreen> </iframe>
        </div>
    </div>
        
</div>






<!-- sct-banner-about -->

<section class="media-section">

        
            
        
        <div class="media-section-list">
            <ul class="row row--main_content">
                
                
<li class="column large-4 medium-6 small-12 media-section-column">
    
    <article class="media-item media-item--with_img">

        <h1 class="media-item-title">
                            <a href="http://g1.globo.com/al/alagoas/altv-1edicao/videos/v/marechal-deodoro-disponibiliza-aplicativo-para-vitimas-de-doencas-causadas-pela-chuva/5952819/">
                    Marechal Deodoro disponibiliza aplicativo para vítimas de doenças causadas pela chuva           
     </a>
                    </h1>

        <div class="media-item-content">
            <p>Cidades de Alagoas e Pernambuco entram em estado de emergência após enchentes. Município aderiu a um programa que promete ajudar pacientes de doenças causadas pelo contato com a água da chuva.</p>
<div id="mm-0" class="mm-page mm-slideout"></div>
         </div>

                   <!--  <div class="media-item-img">
                                    <a href="http://g1.globo.com/">
                        <img width="225" height="63" src="https://static.wixstatic.com/media/b38c85_77a618cdb8c04a5b815e98c0fabea1d9.png" class="attachment-full size-full" alt="">                    </a>
                            </div> -->
            </article>           
</li>



<li class="column large-4 medium-6 small-12 media-section-column">
    
    <article class="media-item media-item--with_img">

        <h1 class="media-item-title">
                            <a href="http://www1.folha.uol.com.br/empreendedorsocial/finalistas/2016-michael-kapps-ta-na-hora-saude-digital.shtml">
                    Folha de S.Paulo - Empreendedor Social                </a>
                    </h1>

        <div class="media-item-content">
            <header>
<div class="story-meta">Economista deu a volta ao mundo para vender saúde via SMS no Brasil. O negócio de impacto social foi criado há quase três anos com o objetivo de atender grandes populações e áreas caras ao poder público, como primeira infância, saúde da família, doenças crônicas -entre elas obesidade, hipertensão e diabetes- e epidemias como dengue. </div>
</header>
                                    <!-- <a href="http://www.folha.uol.com.br/">
                        <img width="200" height="" src="https://rsrc.1001cupomdedescontos.com.br/cache/cf/MuaCHYya.png" class="attachment-full size-full" alt="">     -->                </a>
        </div>

<!--                     <div class="media-item-img">
                            </div>
            </article> -->
</li>




<li class="column large-4 medium-6 small-12 media-section-column">
    
    <article class="media-item ">

        <h1 class="media-item-title">
                            <a href="http://saudebusiness.com/noticias/15908/">
                    Como foi o ano de 2014 para a Tá na Hora?               </a>
                    </h1>

        <div class="media-item-content">
            <p>O produto principal da Tá na Hora é medico.com.vc, um sistema que automatiza comunicação com pacientes através de SMS automatizado e interativo. Está usado para acompanhar pacientes no pré- e pós-cirurgico e na gestão de condições crônicas.</p>
            <br>
                                    <a href="http://saudebusiness.com/">
                        <img width="200" height="200" src="https://www.axway.com/sites/default/files/saude-business_2logo_250x100.png" class="attachment-full size-full" alt="">                    </a>
        </div>

            </article>
</li>


<li class="orbit-slide is-active">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1> Nossos Parceiros </h1>


                </div>
                </div>
                </article>
    <%= image_tag("parceiros.jpg", width:"100%",  alt: "picture of farmers") %>
                </li>



<!-- <li class="column large-4 medium-6 small-12 media-section-column">
    
    <article class="media-item ">

        <h1 class="media-item-title">
                            <a href="#">
                    <img src="http://ta-na-hora.com/wp-content/uploads/2016/06/Google_org.png" alt="">               </a>
                    </h1>

        <div class="media-item-content">
            <p><img src="http://ta-na-hora.com/wp-content/uploads/2016/06/saving-brains-foto.png" alt=""></p>
        </div>

            </article>
</li>
<li class="column large-4 medium-6 small-12 media-section-column">
    
    <article class="media-item ">

        <h1 class="media-item-title">
                            <a href="http://revistapegn.globo.com/Startups/noticia/2016/03/startup-ajuda-gravidas-tirar-duvidas-sobre-zika-gratuitamente.html">
                    STARTUP AJUDA GRÁVIDAS A TIRAR DÚVIDAS SOBRE ZIKA GRATUITAMENTE               </a>
                    </h1>

        <div class="media-item-content">
            <p> A pontado como a mais provável causa para o aumento do número de casos de bebês com microcefalia no Brasil, o zika vírus tem preocupado grávidas de todo o país nos últimos meses. Para ajudar essas pessoas que a startup Tá Na Hora, em parceria com a Secretária de Saúde do município de Palmeira dos Índios, em Alagoas, lançou um serviço de atendimento gratuito para a população. </p>
        </div>

            </article>
</li>
<li class="column large-4 medium-6 small-12 media-section-column">
    
    <article class="media-item ">

        <h1 class="media-item-title">
                            <a href="#">
                    <img src="http://ta-na-hora.com/wp-content/uploads/2016/06/parceiro-5.jpg" alt="">               </a>
                    </h1>

        <div class="media-item-content">
            <p><img src="http://ta-na-hora.com/wp-content/uploads/2016/06/inovaBRA-novo-1.png" alt=""> </p>
        </div>

            </article>
</li>
 -->



            </ul>
        </div>
    </section>
