<section class="banner banner--content_on_left banner--bottom_border banner--custom_color">
    

    <%= image_tag("optstock3.jpg", width:"100%",  alt: "picture of farmers") %>
    <!-- <img width="1025" height="341" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_3.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_3.jpg 1025w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_3.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_3.jpg 768w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_3.jpg 1024w" sizes="(max-width: 1025px) 100vw, 1025px" /> -->
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:400px;color:#ffffff;">


                        <h2>Controle de epidemias <br>e bem-estar <br> a todos </h2>

                        
                    </div>
                </div>
            </div>
        </div>

    
</section>

<!-- 
    <section class="fancy-section "> -->

<!--         <div class="row align-middle row--main_content">
                            <div class="column large-6 small-12">
                    <div class="fancy-section-img">
                        <img width="237" height="464" src="https://www.wellpass.com/wp-content/uploads/2017/03/phone_programs.png" class="attachment-full size-full" alt="" srcset="https://www.wellpass.com/wp-content/uploads/2017/03/phone_programs.png 237w, https://www.wellpass.com/wp-content/uploads/2017/03/phone_programs-153x300.png 153w" sizes="(max-width: 237px) 100vw, 237px" />                    </div>
                </div>
                        
            <div class="column large-6 small-12">
                
                <div class="fancy-section-cms">
           
                    <h1> acima de</h1>
<h1><strong>2_milhões</strong> mensagens enviadas</h1>
                </div>

            </div>

        </div> -->
<!-- 
    </section> -->


<!-- <section class="page-section">

    <ul class="row fancylist row--main_content ">

        
    </ul>

</section>
 -->

<section class="section-content section-content--white">

    <div class="row row--main_content">
        <div class="column">
            
            <div class="section-content-cms">
                <h1 style="text-align: center;">Acima de 2 milhões mensagens enviadas com informações sobre saúde e conversas educativas em dispositivos móveis</h1>
<p style="text-align: center;"><a href="http://ta-na-hora.com/blog/">Nossos Resultados</a></p>
            </div>

        </div>

    </div>

</section>


<section class="section-iconlist section-content--white section-iconlist--default">

    <ul class="row iconlist row--main_content">

        
<li class="column large-4 medium-6 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-calendar_circle"></i>

        <div class="iconlist-article-cms">
            <h2>85%</h2>
<p>Reportaram ter adquirido <strong>mais
conhecimento sobre a diabetes</strong>
e que melhoraram a gestão
da doença </p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-6 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-diabetes_circle"></i>

        <div class="iconlist-article-cms">
            <h2>36%</h2>
<p>Aumento de
chance de um
tabagista parar
de fumar no programa de
 <strong>bem estar<br />
</strong></p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-6 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-natal_circle"></i>

        <div class="iconlist-article-cms">
            <h2>17%</h2>
<p><strong>Redução da pressão arterial sistólica,</strong> que é fator de risco de infarto, AVC e outros eventos cardiovasculares </p>
        </div>
        


    </article>

</li>

    </ul>

<section class="section-iconlist section-content--white section-iconlist--default">

    <ul class="row iconlist row--main_content">

        
<li class="column large-4 medium-6 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-calendar_circle"></i>

        <div class="iconlist-article-cms">
            <h2>10%</h2>
<p>Aumenta na taxa de <strong>adesão aos medicamentos</strong>
</p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-6 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-diabetes_circle"></i>

        <div class="iconlist-article-cms">
        <h2>75%</h2>
      <p>Reportaram ter achado úteis as mensagens, passaram a se <strong>alimentar melhor</strong>, fizeram exercícios, e aderiram aos medicamentos1
</p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-6 small-12 iconlist-item">
    
    <article class="iconlist-article">
        <i class="iconlist-article-icon icon-natal_circle"></i>

        <div class="iconlist-article-cms">
            <h2>70%</h2>
<p>Redução no custo de callcenter usado para <strong>monitorar participantes </strong>
 </p>
        </div>
        


    </article>

</li>

    </ul>


</section>

<section class="page-section ">

            <div class="row">
            <div class="column">
                
                <div class="page-section-cms">
                    <h1 style="text-align: center;">87% de Gestantes reportaram aumento do conhecimento sobre suas gestações e como identificar problemas de saúde 
                    <br>(como, por exemplo, preclampsia)</h1>
<p style="text-align: center;">
                </div>
            </div>
        </div>










<div id="outer">
  <div id="inner">
      <iframe width="854" height="480" src="https://www.youtube.com/embed/wlJxeRWia3Y" frameborder="0" allowfullscreen></iframe>
  </div>
</div>






    
    