<section class="banner banner--content_on_left banner--bottom_border banner--custom_color">

        <%= image_tag("baby_tnh.jpg", width:"100%",  alt: "slick photo of phone usage") %>
   <!--  <img width="1025" height="341" src="http://ta-na-hora.com/blog/wp-content/uploads/2016/04/cropped-head_banner_TaNaHora-1.png" class="banner-bg" alt="" srcset="http://ta-na-hora.com/blog/wp-content/uploads/2016/04/cropped-head_banner_TaNaHora-1.png 1025w, http://ta-na-hora.com/blog/wp-content/uploads/2016/04/cropped-head_banner_TaNaHora-1.png 300w, http://ta-na-hora.com/blog/wp-content/uploads/2016/04/cropped-head_banner_TaNaHora-1.png 768w, http://ta-na-hora.com/blog/wp-content/uploads/2016/04/cropped-head_banner_TaNaHora-1.png 1024w" sizes="(max-width: 1025px) 100vw, 1025px" /> -->
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:400px;margin-top:-3.5%;color:#ffffff;">



                        
                    </div>
                </div>
            </div>
        </div>

    
</section>


<section class="page-section ">

    
    <div class="row align-middle row--main_content">
        
        <div class="column  small-12">

            
            <div class="page-section-cms ">
                <h4 class="p1" style="text-align: center;"><span class="s1"> Nossa plataforma sintetiza todas as informações obtidas nos programas de saúde de forma simples e objetiva para que nossos clientes alcancem resultados clínicos excelentes, melhorem a qualidade de serviço prestado a pacientes e atinjam seus objetivos estratégicos 

                <br>
                <br>
 

  </span><span class="s1"> <%= image_tag("laptop1.jpg", width:"60%",  alt: "picture of crowd") %><br/> <br>Enquanto nossos chatbots engajam as pessoas para terem comportamentos mais saudáveis, a nossa plataforma registra todas as interações para avaliar o nível de risco de uma população, alertar médicas em situações emergenciais, prevenir eventos adversos e melhorar a qualidade do serviço de saúde.
</span></h1>
<p>&nbsp;</p>

<!-- <p> --><!-- <img class="alignnone size-full wp-image-2441" src="http://ta-na-hora.com/blog/wp-content/uploads/2017/05/Exempmessa-1.png" alt="" width="1556" height="1310" srcset="http://ta-na-hora.com/blog/wp-content/uploads/2017/05/Exempmessa-1.png 1556w, http://ta-na-hora.com/blog/wp-content/uploads/2017/05/Exempmessa-1.png 300w, http://ta-na-hora.com/blog/wp-content/uploads/2017/05/Exempmessa-1.png 768w, http://ta-na-hora.com/blog/wp-content/uploads/2017/05/Exempmessa-1.png 1024w" sizes="(max-width: 1556px) 100vw, 1556px" /> -->
<!-- </p> -->
            </div>
        </div>

         </div>