<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-US" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="http://ta-na-hora.com/wp-content/themes/tanahora/img/favicon.png">
        <title>Tá.Na.Hora</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.wellpass.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8"}};
            !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b===c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
       

  </script>




        <style type="text/css">
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

</style>
<%= stylesheet_link_tag "main", media: "all" %>
<%= stylesheet_link_tag "application", media: "all" %>

    </head>

  <body>

      <!-- header -->

        <header class="page-header bigger" id="pageHeader">
            <div class="row row--main_content">
                <div class="column">
                    <h1 class="page-header-logo">
                        <a href="/">
                            <img src="http://ta-na-hora.com/wp-content/themes/tanahora/img/ta-na-hora-logo.jpg" alt="Tá-Na-Hora" width="91">
                        </a>
                    </h1>

                    <nav class="page-header-nav">
                        <ul><li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-515"><a href="#">Sobre</a><span></span>
    <ul  class="sub-menu">
        <li id="menu-item-1602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1602"><a href="/empresa">Empresa</a><span></span></li>
        <li id="menu-item-1601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1601"><a href="/midia">Mídia</a><span></span></li>
        <!-- <li id="menu-item-1600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1600"><a href="/carreiras">Carreiras</a><span></span></li> -->
        <li id="menu-item-1599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1599"><a href="/contato">Entre em Contato</a><span></span></li>
    </ul>
</li>

<li id="menu-item-751" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-751"><a href="#">Plataforma</a><span></span>

    <ul  class="sub-menu">
        <li id="menu-item-1595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1595"><a href="/visao_geral">Visão Geral</a><span></span></li>
        <li id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594"><a href="/programas">Programas</a><span></span></li>
        <li id="menu-item-1598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1598"><a href="/resultados">Resultados</a><span></span></li>
    </ul>
</li>
<li id="menu-item-1596" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1596"><a href="/#customers">Clientes</a><span></span></li>

<li id="menu-item-1593" class="page-header-nav-button menu-item menu-item-type-post_type menu-item-object-page menu-item-1593"><a href="/contato">Solicite uma Demo</a><span></span></li>
<li id="menu-item-336" class="page-header-nav-button--alt menu-item menu-item-type-custom menu-item-object-custom menu-item-336"><a href="https://sistema.ta-na-hora.com/users/sign_in">Cadastre-se</a><span></span></li>
</ul>                    </nav>
                    <a data-open="mobileMenu" class="mobilemenu-trigger icon-menu">
                        <span>Menu</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="page-header--extraspace"></div>

        <div class="reveal reveal--mobilemenu" id="mobileMenu" data-reveal>
            <div class="row collapse row--main_content">
                <div class="column">
                    <div class="mobilemenu-wrap">

                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span class="icon-x" aria-hidden="true"></span>
                        </button>
                    
                        <nav class="mobilemenu">
                            <ul>
                                <li>
                                    <a href="/" class="is_active">Home</a>
                                </li>
                            </ul>

                            <ul><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-515"><a href="#">Sobre</a><span></span>

<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-751"><a href="#">Plataforma</a><span></span>

<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1596"><a href="/#customers">Clientes</a><span></span></li>
<li class="page-header-nav-button menu-item menu-item-type-post_type menu-item-object-page menu-item-1593"><a href="http://ta-na-hora.com/contato/">Solicite Uma Demo</a><span></span></li>
<li class="page-header-nav-button--alt menu-item menu-item-type-custom menu-item-object-custom menu-item-336"><a href="https://sistema.ta-na-hora.com/users/sign_in">Cadastre-se</a><span></span></li>
</ul>                        </nav>

                    </div>
                </div>
            </div>
        </div>

    <!-- / header -->

    <%= yield %>

           <footer class="page-footer">
            
            <div class="page-footer-bar1">
                <div class="row row--main_content">
                    <div class="columns large-6 medium-12 small-12">
                        <div class="page-footer-cms" >
                            <h1>Vamos trabalhar juntos<br /></h1>

<p><a class="button" href="/contact/">SOLICITE UM CONTATO</a></p>
                        </div>
                    </div>

 <nav class="columns large-6 medium-12 small-12">
        <ul class="page-footer-nav row">
            <li id="menu-item-748" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-748">
                <div class="link_wrap"><a href="#">Sobre</a>
                <span></span>
               </div>

        <ul  class="sub-menu">
            <li id="menu-item-1580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1580">
                <div class="link_wrap">
                <a href="/empresa">Empresa</a>
                <span></span>
                </div>
            </li>

    <li id="menu-item-1581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1581">
        <div class="link_wrap">
            <a href="/midia">Mídia</a>
            <span></span>
            </div>
            </li>

    <li id="menu-item-1582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1582">
  <!--       <div class="link_wrap">
            <a href="/carreiras">Carreiras</a>
            <span></span>
            </div>
            </li> -->

    <li id="menu-item-1583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1583">
        <div class="link_wrap">
            <a href="/contato">Entre em Contato</a>
            <span></span>
            </div>
            </li>
    </ul>
</li>

    <li id="menu-item-193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
        <div class="link_wrap">
            <a href="#">Plataforma</a>
            <span></span>
            </div>
            
        <ul  class="sub-menu">
            <li id="menu-item-1584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1584"><div class="link_wrap"><a href="/visao_geral">Visão Geral</a><span></span></div></li>
            <li id="menu-item-1585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1585"><div class="link_wrap"><a href="/programas">Programas</a><span></span></div></li>
            <li id="menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587"><div class="link_wrap"><a href="/resultados">Resultados</a><span></span></div></li>
</ul>
</li>
</ul>                    </nav>

</li>
</ul>                    </nav>

                </div>

            </div>
            
            <div class="page-footer-bar2">
                <div class="row row--main_content">
                    <div class="column">
                        <nav class="page-footer-social_media">
                            <ul><li id="menu-item-314" class="menu-item--twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-314"><a href="https://twitter.com/tnhsaudedigital"><i class="fa fa-twitter" aria-hidden="true"></i><span class="link_text">Twitter</span></a></li>

                            <li id="menu-item-313" class="menu-item--linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-313"><a href="https://www.linkedin.com/company-beta/3678978/"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="link_text">linkedin</span></a></li>
                            </ul>                        
                        </nav>

                    </div>
                </div>
            </div>

            <div class="page-footer-bar3">

                <div class="row row--main_content">
                    <div class="column">

                     
                        <p class="page-footer-copyright">
                             © Copyright 2013: TNH Digital Health.  
                        </p>

                    </div>
                </div>
                
            </div>

        </footer>


  </body>
</html>
